# Loading and preparing the data

In [2]:
import pandas as pd
import numpy as np
import torch
import matplotlib.pyplot as plt
import os
import seaborn as sns
from scipy import stats

In [22]:
data = pd.read_pickle('data/clean_lc_data.pkl')
data.head()

,loan_amnt,term,int_rate,installment,sub_grade,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,chargeoff_within_12_mths,delinq_amnt,mort_acc,pub_rec_bankruptcies,tax_liens,total_bal_ex_mort,total_bc_limit,hardship_flag,debt_settlement_flag,loan_status_num
id,,,,,,,,,,,,,,,,,,,,,
1075358,3000,60 months,0.1269,67.79,B5,RENT,80000.00,Source Verified,Fully Paid,n,...,0.0,0.0,3.0,0.0,0.0,54644.0,17850.0,N,N,0
1071570,5375,60 months,0.1269,121.45,B5,RENT,15000.00,Verified,Charged Off,n,...,0.0,0.0,0.0,0.0,0.0,30612.0,21533.0,N,N,1
1069057,10000,36 months,0.1065,325.74,B2,RENT,100000.00,Source Verified,Charged Off,n,...,0.0,0.0,2.0,0.0,0.0,14358.0,17700.0,N,N,1
1069742,9200,36 months,0.0603,280.01,A1,RENT,77385.19,Not Verified,Fully Paid,n,...,0.0,0.0,2.0,0.0,0.0,42247.0,15142.0,N,N,0
1069559,6000,36 months,0.1171,198.46,B3,RENT,76000.00,Not Verified,Charged Off,n,...,0.0,0.0,0.0,0.0,0.0,43192.0,10350.0,N,N,1

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96683 entries, 1075358 to 129834559
Data columns (total 51 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   96683 non-null  int64
 1   term                        96683 non-null  object
 2   int_rate                    96683 non-null  float64
 3   installment                 96683 non-null  float64
 4   sub_grade                   96683 non-null  object
 5   home_ownership              96683 non-null  object
 6   annual_inc                  96683 non-null  float64
 7   verification_status         96683 non-null  object
 8   loan_status                 96683 non-null  object
 9   pymnt_plan                  96683 non-null  object
 10  purpose                     96683 non-null  object
 11  zip_code                    96683 non-null  object
 12  addr_state                  96683 non-null  object
 13  dti                         96683 non-null  float64
 14  delinq_2yrs                 96683 non-null  float64
 15  fico_range_low              96683 non-null  int64
 16  fico_range_high             96683 non-null  int64
 17  inq_last_6mths              96683 non-null  float64
 18  open_acc                    96683 non-null  float64
 19  pub_rec                     96683 non-null  float64
 20  revol_bal                   96683 non-null  int64
 21  revol_util                  96683 non-null  object
 22  total_acc                   96683 non-null  float64
 23  initial_list_status         96683 non-null  object
 24  out_prncp                   96683 non-null  float64
 25  out_prncp_inv               96683 non-null  float64
 26  total_pymnt                 96683 non-null  float64
 27  total_pymnt_inv             96683 non-null  float64
 28  total_rec_prncp             96683 non-null  float64
 29  total_rec_int               96683 non-null  float64
 30  total_rec_late_fee          96683 non-null  float64
 31  recoveries                  96683 non-null  float64
 32  collection_recovery_fee     96683 non-null  float64
 33  last_pymnt_amnt             96683 non-null  float64
 34  last_fico_range_high        96683 non-null  int64
 35  last_fico_range_low         96683 non-null  int64
 36  collections_12_mths_ex_med  96683 non-null  float64
 37  policy_code                 96683 non-null  int64
 38  application_type            96683 non-null  object
 39  acc_now_delinq              96683 non-null  float64
 40  acc_open_past_24mths        96683 non-null  float64
 41  chargeoff_within_12_mths    96683 non-null  float64
 42  delinq_amnt                 96683 non-null  float64
 43  mort_acc                    96683 non-null  float64
 44  pub_rec_bankruptcies        96683 non-null  float64
 45  tax_liens                   96683 non-null  float64
 46  total_bal_ex_mort           96683 non-null  float64
 47  total_bc_limit              96683 non-null  float64
 48  hardship_flag               96683 non-null  object
 49  debt_settlement_flag        96683 non-null  object
 50  loan_status_num             96683 non-null  int64
dtypes: float64(29), int64(8), object(14)
memory usage: 38.4+ MB

In [24]:
data.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,open_acc,...,acc_now_delinq,acc_open_past_24mths,chargeoff_within_12_mths,delinq_amnt,mort_acc,pub_rec_bankruptcies,tax_liens,total_bal_ex_mort,total_bc_limit,loan_status_num
count,96683.000000,96683.000000,96683.000000,9.668300e+04,96683.000000,96683.000000,96683.000000,96683.000000,96683.000000,96683.000000,...,96683.000000,96683.000000,96683.00000,96683.000000,96683.000000,96683.000000,96683.000000,9.668300e+04,96683.000000,96683.000000
mean,14462.013746,0.134706,434.246610,7.519658e+04,18.213519,0.264328,701.571579,705.571828,0.639306,11.099790,...,0.002648,4.201256,0.00692,9.814911,1.535389,0.107599,0.027523,4.730932e+04,22484.894025,0.150957
std,9056.817085,0.048997,265.112617,6.714529e+04,17.523942,0.789277,33.951358,33.952411,0.923730,5.287587,...,0.060452,2.898863,0.09693,663.051096,1.875855,0.319343,0.260915,4.611111e+04,21737.858779,0.358009
min,1000.000000,0.053100,7.610000,4.000000e+01,0.000000,0.000000,660.000000,664.000000,0.000000,1.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,7550.000000,0.099300,242.830000,4.500000e+04,11.190000,0.000000,675.000000,679.000000,0.000000,7.000000,...,0.000000,2.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.991250e+04,8500.000000,0.000000
50%,12000.000000,0.129900,371.680000,6.400000e+04,17.030000,0.000000,695.000000,699.000000,0.000000,10.000000,...,0.000000,4.000000,0.00000,0.000000,1.000000,0.000000,0.000000,3.522500e+04,16091.000000,0.000000
75%,20000.000000,0.160200,572.350000,9.000000e+04,23.460000,0.000000,720.000000,724.000000,1.000000,14.000000,...,0.000000,6.000000,0.00000,0.000000,2.000000,0.000000,0.000000,5.894500e+04,29200.000000,0.000000
max,40000.000000,0.309900,1719.830000,7.200000e+06,999.000000,30.000000,845.000000,850.000000,8.000000,55.000000,...,7.000000,46.000000,8.00000,138474.000000,31.000000,5.000000,13.000000,1.276247e+06,462200.000000,1.000000

In [26]:
data.drop('loan_status', axis=1, inplace=True)

For the machine learning algorithms to be able to work on the data, the categorical columns have to be dealt with.

In [27]:
print([column for column in data.columns if data[column].dtype == object])

['term', 'sub_grade', 'home_ownership', 'verification_status', 'pymnt_plan', 'purpose', 'zip_code', 'addr_state', 'revol_util', 'initial_list_status', 'application_type', 'hardship_flag', 'debt_settlement_flag']

In [28]:
data['term']=data.term.map({' 36 months': 36, ' 60 months': 60})

In [33]:
data['revol_util']=data['revol_util'].str[:-1].astype(float)/100

In [35]:
dummies = ['sub_grade', 'home_ownership', 'verification_status', 'pymnt_plan', 'purpose', 'zip_code', 'addr_state', 'initial_list_status', 'application_type', 'hardship_flag', 'debt_settlement_flag']
data = pd.get_dummies(data, columns=dummies, drop_first=True)

In [36]:
data.head()

,loan_amnt,term,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,...,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,initial_list_status_w,application_type_Joint App,hardship_flag_Y,debt_settlement_flag_Y
id,,,,,,,,,,,,,,,,,,,,,
1075358,3000,60,0.1269,67.79,80000.00,17.94,0.0,695,699,0.0,...,0,0,0,0,0,0,0,0,0,0
1071570,5375,60,0.1269,121.45,15000.00,18.08,0.0,725,729,0.0,...,0,0,0,0,0,0,0,0,0,0
1069057,10000,36,0.1065,325.74,100000.00,7.06,0.0,720,724,2.0,...,0,0,0,0,0,0,0,0,0,0
1069742,9200,36,0.0603,280.01,77385.19,9.86,0.0,755,759,0.0,...,0,0,0,0,0,0,0,0,0,0
1069559,6000,36,0.1171,198.46,76000.00,2.40,0.0,690,694,1.0,...,0,0,0,0,0,0,0,0,0,0

# Crafting of baseline model